// app global css in SCSS form
.container-max {
  max-width: 1250px;
  margin: 0 auto;
}
.container-narrow {
  max-width: 650px;
}
.container--single-product {
  max-width: 1400px;
  margin: 0 auto;
}
.container-max__gridify {
  max-width: 1250px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1em;

  @media (min-width: 1024px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.remove-bottom-padding {
  padding-bottom: 0 !important;
}

.no-stock-card {
  box-shadow: 2px 2px 15px 0.4px rgba(255, 0, 0, 0.7);

  & .see-product {
    background-color: red !important;
  }
}
